<!DOCTYPE html>
<html>
    <head>
        <title>Language_que_card</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
    </head>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <div id="nav">
            Navigation:<br />
            <ul>
                {% block nav %}{% endblock %}
                <li><a href="{{url_for('music')}}">Audio</a></li>
            </ul>
        </div>
    </body>
</html>